@model BLP

<div class="card card-outline-primary m-1 p-1" style="width:500px; padding-left:50px;">
    <div class="card-body bg-faded p-1">
        <h4>
            @Model.Title
            <span class="badge badge-pill" style="float:right">
                <button class="btn btn-outline-dark badge badge-pill">
                    <large>Buy with 1-Click @Model.Price.ToString("c")</large>
                </button>
            </span>
        </h4>

        <form id="@Model.BookId" asp-page="/Shopping" method="post">
            <input type="hidden" asp-for="BookId" />
            <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
            <span class="card-text p-1">
                <button type="submit" class="btn-success btn-sm pull-right" style="float:right; margin-right:20px">
                    Add Cart
                </button>
            </span>
        </form>
        
    </div>

    @*Added the Primary key of the table "BookId"
    *@        
    <div class="card-header">
        Rank #@Model.BookId
    </div>

    <div class="container">
        <div class="row justify-content-evenly">
            <div class="card border-light col-6">
                <div class="card-text p-1">By @Model.AuthorFirstName, @Model.AuthorLastName</div>
                <div class="card-text p-1">Publisher: @Model.Publisher</div>
                <div class="card-text p-1">Category 1: @Model.Category1</div>
                <div class="card-text p-1">Category 2: @Model.Category2</div>
                <div class="card-text p-1">@Model.ISBN</div>
            </div>

            <div class="card border-light col-6">
                @*<img src="@("~/img/" + i.BookId + ".png")" class="card-img-top" alt="Image">*@
                @*                <img src="~/img/1.png" class="card-img-top" alt="Image">

                    Combine the img src with the PK to dynamically display each image for each book
                *@                <img src="~/img/@(Model.BookId).jpg" alt="Book Image" />
            </div>
        </div>
    </div>
    @*        Display the total number of pages in each book
    *@        <div class="card-footer text-muted">
        @Model.PageNum Pages
    </div>
</div>